conf/xsd/NCTS5-SchemaVersion-51.8/EIS_Wrapper-51.8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2020 sp1 (x64) (http://www.altova.com) by Lanre Oyewole (HM Revenue & Customs) -->
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://ncts.dgtaxud.ec"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
	targetNamespace="http://ncts.dgtaxud.ec"
	elementFormDefault="unqualified"
	attributeFormDefault="unqualified"
	version="51.8"
	vc:minVersion="1.1"
	>
	
	<!--==========================================================-->
	<!--===== XSD Schema Includes                                 -->
	<!--==========================================================-->
	<xs:include schemaLocation="ctypes.xsd" />
	<xs:include schemaLocation="htypes.xsd" />
	<xs:include schemaLocation="CC004C.xsd" />
	<xs:include schemaLocation="CC007C.xsd" />
	<xs:include schemaLocation="CC009C.xsd" />
	<xs:include schemaLocation="CC013C.xsd" />
	<xs:include schemaLocation="CC014C.xsd" />
	<xs:include schemaLocation="CC015C.xsd" />
	<xs:include schemaLocation="CC017C.xsd" />
	<xs:include schemaLocation="CC019C.xsd" />
	<xs:include schemaLocation="CC022C.xsd" />
	<xs:include schemaLocation="CC023C.xsd" />
	<xs:include schemaLocation="CC025C.xsd" />
	<xs:include schemaLocation="CC026C.xsd" />
	<xs:include schemaLocation="CC028C.xsd" />
	<xs:include schemaLocation="CC029C.xsd" />
	<xs:include schemaLocation="CC034C.xsd" />
	<xs:include schemaLocation="CC035C.xsd" />
	<xs:include schemaLocation="CC037C.xsd" />
	<xs:include schemaLocation="CC040C.xsd" />
	<xs:include schemaLocation="CC042C.xsd" />
	<xs:include schemaLocation="CC043C.xsd" />
	<xs:include schemaLocation="CC044C.xsd" />
	<xs:include schemaLocation="CC045C.xsd" />
	<xs:include schemaLocation="CC048C.xsd" />
	<xs:include schemaLocation="CC051C.xsd" />
	<xs:include schemaLocation="CC054C.xsd" />
	<xs:include schemaLocation="CC055C.xsd" />
	<xs:include schemaLocation="CC056C.xsd" />
	<xs:include schemaLocation="CC057C.xsd" />
	<xs:include schemaLocation="CC060C.xsd" />
	<xs:include schemaLocation="CC140C.xsd" />
	<xs:include schemaLocation="CC141C.xsd" />
	<xs:include schemaLocation="CC170C.xsd" />
	<xs:include schemaLocation="CC182C.xsd" />
	<xs:include schemaLocation="CC190C.xsd" />
	<xs:include schemaLocation="CC191C.xsd" />
	<xs:include schemaLocation="CC224C.xsd" />
	<xs:include schemaLocation="CC225C.xsd" />
	<xs:include schemaLocation="CC228C.xsd" />
	<xs:include schemaLocation="CC229C.xsd" />
	<xs:include schemaLocation="CC231C.xsd" />
	<xs:include schemaLocation="CC906C.xsd" />
	<xs:include schemaLocation="CC917C.xsd" />
	<xs:include schemaLocation="CC928C.xsd" />
	<xs:include schemaLocation="CD001C.xsd" />
	<xs:include schemaLocation="CD002C.xsd" />
	<xs:include schemaLocation="CD003C.xsd" />
	<xs:include schemaLocation="CD006C.xsd" />
	<xs:include schemaLocation="CD010C.xsd" />
	<xs:include schemaLocation="CD012C.xsd" />
	<xs:include schemaLocation="CD018C.xsd" />
	<xs:include schemaLocation="CD024C.xsd" />
	<xs:include schemaLocation="CD027C.xsd" />
	<xs:include schemaLocation="CD038C.xsd" />
	<xs:include schemaLocation="CD049C.xsd" />
	<xs:include schemaLocation="CD050C.xsd" />
	<xs:include schemaLocation="CD059C.xsd" />
	<xs:include schemaLocation="CD063C.xsd" />
	<xs:include schemaLocation="CD070C.xsd" />
	<xs:include schemaLocation="CD071C.xsd" />
	<xs:include schemaLocation="CD078C.xsd" />
	<xs:include schemaLocation="CD094C.xsd" />
	<xs:include schemaLocation="CD095C.xsd" />
	<xs:include schemaLocation="CD114C.xsd" />
	<xs:include schemaLocation="CD115C.xsd" />
	<xs:include schemaLocation="CD118C.xsd" />
	<xs:include schemaLocation="CD142C.xsd" />
	<xs:include schemaLocation="CD143C.xsd" />
	<xs:include schemaLocation="CD144C.xsd" />
	<xs:include schemaLocation="CD145C.xsd" />
	<xs:include schemaLocation="CD150C.xsd" />
	<xs:include schemaLocation="CD151C.xsd" />
	<xs:include schemaLocation="CD152C.xsd" />
	<xs:include schemaLocation="CD160C.xsd" />
	<xs:include schemaLocation="CD164C.xsd" />
	<xs:include schemaLocation="CD165C.xsd" />
	<xs:include schemaLocation="CD168C.xsd" />
	<xs:include schemaLocation="CD180C.xsd" />
	<xs:include schemaLocation="CD181C.xsd" />
	<xs:include schemaLocation="CD200C.xsd" />
	<xs:include schemaLocation="CD201C.xsd" />
	<xs:include schemaLocation="CD203C.xsd" />
	<xs:include schemaLocation="CD204C.xsd" />
	<xs:include schemaLocation="CD205C.xsd" />
	<xs:include schemaLocation="CD209C.xsd" />
	<xs:include schemaLocation="CD411D.xsd" />
	<xs:include schemaLocation="CD903D.xsd" />
	<xs:include schemaLocation="CD906C.xsd" />
	<xs:include schemaLocation="CD917C.xsd" />
	<xs:include schemaLocation="CD971C.xsd" />
	<xs:include schemaLocation="CD974C.xsd" />
	<xs:include schemaLocation="CD975C.xsd" />

	<!--==========================================================-->
	<!--===== Global Elements                                     -->
	<!--==========================================================-->
	<xs:element name="IEMessage" type="IEMessageType"/>
	<xs:element name="OfficeMessage" type="OfficeMessageType"/>
	<xs:element name="OoDepMessage" type="OoDepMessageType"/>
	<xs:element name="OoDesMessage" type="OoDesMessageType"/>
	<xs:element name="OoIncMessage" type="OoIncMessageType"/>
	<xs:element name="TraderToGMSMessage" type="TraderToGMSMessageType"/>
	<xs:element name="GMSToTraderMessage" type="GMSToTraderMessageType"/>
	
	<!--===== Global Complex Types                                -->
	<!--==========================================================-->
	<xs:complexType name="OfficeMessageType">
		<xs:choice>
			<xs:element name="OfficeOfDeparture" type="OoDepMessageType"/>
			<xs:element name="OfficeOfDestination" type="OoDesMessageType"/>
			<xs:element name="OfficeOfIncidence" type="OoIncMessageType" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OoDepMessageType">
		<!-- Kazeem list: IE004, IE007, IE009, IE013, IE014, IE015, IE019, IE022, IE028, IE029, IE051, IE055, IE056, IE060, IE906, IE917, IE928 -->
		<!-- DDNTA list:   IE007, IE013, IE014, IE015, IE026, IE034, IE044, IE141, IE170, IE224, IE906, IE917 -->
		<xs:choice>
			<xs:element name="CC007C" type="CC007CType"/>
			<xs:element name="CC013C" type="CC013CType"/>
			<xs:element name="CC014C" type="CC014CType"/>
			<xs:element name="CC015C" type="CC015CType"/>
			<xs:element name="CC026C" type="CC026CType"/>
			<xs:element name="CC034C" type="CC034CType"/>
			<xs:element name="CC044C" type="CC044CType"/>
			<xs:element name="CC141C" type="CC141CType"/>
			<xs:element name="CC170C" type="CC170CType"/>
			<xs:element name="CC224C" type="CC224CType"/>
			<xs:element name="CC906C" type="CC906CType"/>
			<xs:element name="CC917C" type="CC917CType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OoDesMessageType">
		<!-- Kazeem's list: IE025, IE043, IE044, IE045, IE057, IE906, IE917 -->
		<!-- DDNTA list: IE004, IE009, IE022, IE023, IE025, IE028, IE029, IE035,
			             IE037 IE043, IE045, IE051, IE055, IE056, IE057, IE060, IE140,
						 IE182, IE225, IE228, IE229, IE231, IE906, IE917, IE928 -->
		<xs:choice>
			<xs:element name="CC004C" type="CC004CType"/>
			<xs:element name="CC009C" type="CC009CType"/>
			<xs:element name="CC019C" type="CC019CType"/>
			<xs:element name="CC022C" type="CC022CType"/>
			<xs:element name="CC023C" type="CC023CType"/>
			<xs:element name="CC025C" type="CC025CType"/>
			<xs:element name="CC028C" type="CC028CType"/>
			<xs:element name="CC029C" type="CC029CType"/>
			<xs:element name="CC035C" type="CC035CType"/>
			<xs:element name="CC037C" type="CC037CType"/>
			<xs:element name="CC043C" type="CC043CType"/>
			<xs:element name="CC045C" type="CC045CType"/>
			<xs:element name="CC051C" type="CC051CType"/>
			<xs:element name="CC055C" type="CC055CType"/>
			<xs:element name="CC056C" type="CC056CType"/>
			<xs:element name="CC057C" type="CC057CType"/>
			<xs:element name="CC060C" type="CC060CType"/>
			<xs:element name="CC140C" type="CC140CType"/>
			<xs:element name="CC182C" type="CC182CType"/>
			<xs:element name="CC225C" type="CC225CType"/>
			<xs:element name="CC228C" type="CC228CType"/>
			<xs:element name="CC229C" type="CC229CType"/>
			<xs:element name="CC231C" type="CC231CType"/>
			<xs:element name="CC906C" type="CC906CType"/>
			<xs:element name="CC917C" type="CC917CType"/>
			<xs:element name="CC928C" type="CC928CType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OoIncMessageType">
		<!-- IE182 -->
		<xs:choice>
			<xs:element name="CC182C" type="CC182CType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TraderToGMSMessageType">
		<!-- IE034 -->
		<xs:choice>
			<xs:element name="CC034C" type="CC034CType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="GMSToTraderMessageType">
		<!-- IE037 -->
		<xs:choice>
			<xs:element name="CC037C" type="CC037CType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="IEMessageType">
		<xs:choice>
			<xs:element name="CC004C" type="CC004CType"/>
			<xs:element name="CC007C" type="CC007CType"/>
			<xs:element name="CC009C" type="CC009CType"/>
			<xs:element name="CC013C" type="CC013CType"/>
			<xs:element name="CC014C" type="CC014CType"/>
			<xs:element name="CC015C" type="CC015CType"/>
			<xs:element name="CC017C" type="CC017CType"/>
			<xs:element name="CC019C" type="CC019CType"/>
			<xs:element name="CC022C" type="CC022CType"/>
			<xs:element name="CC023C" type="CC023CType"/>
			<xs:element name="CC025C" type="CC025CType"/>
			<xs:element name="CC026C" type="CC026CType"/>
			<xs:element name="CC028C" type="CC028CType"/>
			<xs:element name="CC029C" type="CC029CType"/>
			<xs:element name="CC034C" type="CC034CType"/>
			<xs:element name="CC035C" type="CC035CType"/>
			<xs:element name="CC037C" type="CC037CType"/>
			<xs:element name="CC040C" type="CC040CType"/>
			<xs:element name="CC042C" type="CC042CType"/>
			<xs:element name="CC043C" type="CC043CType"/>
			<xs:element name="CC044C" type="CC044CType"/>
			<xs:element name="CC045C" type="CC045CType"/>
			<xs:element name="CC048C" type="CC048CType"/>
			<xs:element name="CC051C" type="CC051CType"/>
			<xs:element name="CC054C" type="CC054CType"/>
			<xs:element name="CC055C" type="CC055CType"/>
			<xs:element name="CC056C" type="CC056CType"/>
			<xs:element name="CC057C" type="CC057CType"/>
			<xs:element name="CC060C" type="CC060CType"/>
			<xs:element name="CC140C" type="CC140CType"/>
			<xs:element name="CC141C" type="CC141CType"/>
			<xs:element name="CC170C" type="CC170CType"/>
			<xs:element name="CC182C" type="CC182CType"/>
			<xs:element name="CC190C" type="CC190CType"/>
			<xs:element name="CC191C" type="CC191CType"/>
			<xs:element name="CC224C" type="CC224CType"/>
			<xs:element name="CC225C" type="CC225CType"/>
			<xs:element name="CC228C" type="CC228CType"/>
			<xs:element name="CC229C" type="CC229CType"/>
			<xs:element name="CC231C" type="CC231CType"/>
			<xs:element name="CC906C" type="CC906CType"/>
			<xs:element name="CC917C" type="CC917CType"/>
			<xs:element name="CC928C" type="CC928CType"/>
			<xs:element name="CD001C" type="CD001CType"/>
			<xs:element name="CD002C" type="CD002CType"/>
			<xs:element name="CD003C" type="CD003CType"/>
			<xs:element name="CD006C" type="CD006CType"/>
			<xs:element name="CD010C" type="CD010CType"/>
			<xs:element name="CD012C" type="CD012CType"/>
			<xs:element name="CD018C" type="CD018CType"/>
			<xs:element name="CD024C" type="CD024CType"/>
			<xs:element name="CD027C" type="CD027CType"/>
			<xs:element name="CD038C" type="CD038CType"/>
			<xs:element name="CD049C" type="CD049CType"/>
			<xs:element name="CD050C" type="CD050CType"/>
			<xs:element name="CD059C" type="CD059CType"/>
			<xs:element name="CD063C" type="CD063CType"/>
			<xs:element name="CD070C" type="CD070CType"/>
			<xs:element name="CD071C" type="CD071CType"/>
			<xs:element name="CD078C" type="CD078CType"/>
			<xs:element name="CD094C" type="CD094CType"/>
			<xs:element name="CD095C" type="CD095CType"/>
			<xs:element name="CD114C" type="CD114CType"/>
			<xs:element name="CD115C" type="CD115CType"/>
			<xs:element name="CD118C" type="CD118CType"/>
			<xs:element name="CD142C" type="CD142CType"/>
			<xs:element name="CD143C" type="CD143CType"/>
			<xs:element name="CD144C" type="CD144CType"/>
			<xs:element name="CD145C" type="CD145CType"/>
			<xs:element name="CD150C" type="CD150CType"/>
			<xs:element name="CD151C" type="CD151CType"/>
			<xs:element name="CD152C" type="CD152CType"/>
			<xs:element name="CD160C" type="CD160CType"/>
			<xs:element name="CD164C" type="CD164CType"/>
			<xs:element name="CD165C" type="CD165CType"/>
			<xs:element name="CD168C" type="CD168CType"/>
			<xs:element name="CD180C" type="CD180CType"/>
			<xs:element name="CD181C" type="CD181CType"/>
			<xs:element name="CD200C" type="CD200CType"/>
			<xs:element name="CD201C" type="CD201CType"/>
			<xs:element name="CD203C" type="CD203CType"/>
			<xs:element name="CD204C" type="CD204CType"/>
			<xs:element name="CD205C" type="CD205CType"/>
			<xs:element name="CD209C" type="CD209CType"/>
			<xs:element name="CD411D" type="CD411DType"/>
			<xs:element name="CD903D" type="CD903DType"/>
			<xs:element name="CD906C" type="CD906CType"/>
			<xs:element name="CD917C" type="CD917CType"/>
			<xs:element name="CD971C" type="CD971CType"/>
			<xs:element name="CD974C" type="CD974CType"/>
			<xs:element name="CD975C" type="CD975CType"/>
		</xs:choice>
	</xs:complexType>

</xs:schema>
